# Build tools temporary directory
_cache_tmp_/

# Original CEF source directory

# Original Chromium source directory
chromium/src/
chromium/.cipd/
#.gclient
#.gclient_entries
#.gclient_previous_sync_commits

# Archive
*.zip
*.gz

# Rust
*target/
/Cargo.lock
*.a
artifacts/

# macOS
.DS_Store


# CEF
cef/.github/
cef/cmake/
cef/include/
cef/*libcef*
cef/patch/
cef/tests/
cef/tools/
cef/.gitignore
cef/*.style.*
cef/AUTHORS.txt
cef/BUILD.gn
cef/*cef*
cef/*CHROMIUM*
cef/*CMake*
cef/DEPS
cef/Doxyfile
cef/*LICENSE*
cef/*README*
cef/*VERSION*


## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout
