# Build tools temporary directory
_cache_tmp_/

# Original CEF source directory

# Original Chromium source directory
Vendor/Chromium/src/
Vendor/Chromium/.cipd/
#.gclient
#.gclient_entries
#.gclient_previous_sync_commits

# Archive
*.zip
*.gz

# Rust
*target/
/Cargo.lock
*.a
artifacts/

# macOS
.DS_Store


# CEF
Vendor/cef/.github/
Vendor/cef/cmake/
Vendor/cef/include/
Vendor/cef/*libcef*
Vendor/cef/patch/
Vendor/cef/tests/
Vendor/cef/tools/
Vendor/cef/.gitignore
Vendor/cef/*.style.*
Vendor/cef/AUTHORS.txt
Vendor/cef/BUILD.gn
Vendor/cef/*cef*
Vendor/cef/*CHROMIUM*
Vendor/cef/*CMake*
Vendor/cef/DEPS
Vendor/cef/Doxyfile
Vendor/cef/*LICENSE*
Vendor/cef/*README*
Vendor/cef/*VERSION*


## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

## Visual Studio Code
.vscode/

## Project Specific
.proj_backup/
Proj_Tests/

########################################################################
### CMake                                                            ###
########################################################################
### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

# End of https://www.toptal.com/developers/gitignore/api/cmake

build/
